<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center">
        <form>
            <div class="mb-3">
              <label for="txtusuario" class="form-label">Usuario:</label>
              <input type="email" class="form-control" id="txtusuario" #usuario>
            </div>
            <div class="mb-3">
              <label for="txtpass" class="form-label">Password:</label>
              <input type="text" class="form-control" id="txtpass"  #pass>
            </div>
            <button type="submit" class="btn btn-primary" (click)="login(usuario.value,pass.value)">Enviar</button>
          </form>
    </div>
</div>

<div *ngIf="verificacion">
    Bienvenido
</div>
